
@if (reviews.length !=0 && UsersInOrderReviews.length!=0) {
<h2 class="fs-1 text-center">{{avgRating| number:'1.2-2'}}</h2>
<div class="text-center my-5">
  <ngb-rating [(rate)]="avgRating" [readonly]="true" [max]="5"  style="color: var(--rating-color); font-size:37px;"/>
</div>
<div *ngFor="let review of reviews; let i = index;">
  <div class="row my-5">
    <div class="col-2">
      <div class="d-flex flex-column align-items-center">
        <div class="img-cont">
          <img [src]="UsersInOrderReviews[i].profilePic" alt="User Profile pic" width="65" height="65"  class="rounded-circle shadow-1-strong ">
        </div>
        <span class="my-3">{{UsersInOrderReviews[i].name}}</span>
      </div>
    </div>
    <div class="col-10 d-flex flex-column card py-3 px-4">
      <span class="my-3">
        <ngb-rating [(rate)]="review.rating" [readonly]="true" [max]="5" class="rating-color" style="font-size:30px;"></ngb-rating>
      </span>
      <span>{{review.comment}}</span>
    </div>
  </div>
</div>
}@else{
<div class="text-center fs-1 theme">there are no reviews</div>
}

