img {
  width: 80px;
  height: 100px;
}
.buttonX {
  background-color: var(--main-color) !important;
  color: var(--third-color);
  border-radius: 25px;
  border: none;
}
.buttonClose {
  background-color: var(--main-color) !important;
  color: var(--third-color);
  border-radius: 50%;
  border: none;
}
.buttonX:hover ,.buttonClose:hover{
  background-color: var(--sec-color) !important;
  transform: scale(1.2);
}
